*{
    padding: 0px;
    border: 0px;
}

body{
    text-align: center;
    align-items: center;
}

button{
    margin-top: 50px;
    padding: 40px;
    background-color: brown;
    color: white;
    font-size: 23px;
    border-radius: 5px;
}

p{
    font-size: 80px;
    padding: 20px;
    background-color: bisque;
}